<div class="partners">
  <h1>OUR PARTNERS</h1>
  <div class="column">
    <div class="row golden">
      <h3>GOLDEN SPONSORS</h3>
      <img src="assets/logo/golden/bozar.png" alt="">
      <img src="assets/logo/golden/ehb.png" alt="">
      <img src="assets/logo/golden/bxl.png" alt="">
    </div>
    <div class="row silver">
      <h3>SILVER SPONSORS</h3>
      <img src="assets/logo/silver/overheid.png" alt="">
      <img src="assets/logo/silver/imec.png" alt="">
      <img src="assets/logo/silver/voka.svg" class="voka" alt="">
    </div>
    <div class="row bronze">
      <h3>BRONZE SPONSORS</h3>
      <img src="assets/logo/bronze/showpad.svg" alt="">
      <img src="assets/logo/bronze/meetdistrict.png" alt="">
    </div>
    <div class="row light">
      <h3>LIGHT SPONSORS</h3>
      <img src="assets/logo/light/visa.svg" alt="">
      <img src="assets/logo/light/ibm.svg" alt="">
      <img src="assets/logo/light/wetransfer.svg" alt="">
      <img src="assets/logo/light/nationale-lotterij.svg" alt="">
    </div>
  </div>
</div>
