<div class="programPage">
  <div class="program">
    <h1>
      PROGRAM
    </h1>
    <div class="timelineBg">
      <div class="timeline">
        <div class="koffie">
          <p>9H30</p>
          <p class="sideText">Coffee</p>
          <div class="lowerTlInfo">
          </div>
        </div>
        <div class="koffie speaker2" *ngFor="let speaker of speakers; let i=index;">
          <p>{{speakers[i].beginhour}}</p>
          <p class="sideText">{{speakers[i].beginhour}}</p>
          <div class="lowerTlInfo">
            <p>{{speakers[i].name}}</p>
            <p>{{speakers[i].job}}</p>
            <p class="sideText">{{speakers[i].description}}</p>
            <p class=""></p>
            <p class=""></p>
            <img src="{{speakers[i].backpic}}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="keySpeakers">
    <h1>
    CONFERENCES
    </h1>
  </div> -->

</div>
