.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 8vh;
  
    background-color: rgba(59, 59, 59, 0.404);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.322);
  }